// Styling for the masthead


.column-profil {
  // display: block;
  padding-top:70px;
  position: relative;
  display: flex;
  align-items: center-left;
  justify-content: center;


}


.column-text {
  // display: block;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 430px;
  width: 300px;
  border-radius: 5px;
  left:60%;
  right: 30%;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;



  color: white;
  background: $theme-success;

  .name {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;

      text-transform: uppercase;
    }
    .skills {
      font-size: 30px;
      font-weight: 300;
    }
  }

