// Styling for the masthead
.about {
  display: none;
}

.card1 {
  // display: block;
  padding-top: 20px;
  display: flex;
  position: relative;
  background-size: cover !important;
  background-color: $theme-clear1;
  background-position: center;
}


.card-text {
  // display: block;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 380px;
  width: 250px;
  border-radius: 5px;
  left:60%;
  right: 30%;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;



  color: white;
  background: $theme-success;

  .name {
    font-family:'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;

    // text-transform: uppercase;
  }
  .skills {
    font-size: 25px;
    font-weight: 300;
  }
}

@media(max-width:990px) {
  .card-text {
    height: 280px;
    width: 150px;
    .name {
      font-family:'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 400;

    // text-transform: uppercase;
  }
    .skills {
      font-size: 15px;
      font-weight: 200;
    }
  }
}

@media(max-width:768px) {
  .card-text {
    height: 300px;
    width: 180px;
    .name {
      font-family:'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 400;

    // text-transform: uppercase;
  }
    .skills {
      font-size: 15px;
      font-weight: 200;
    }
  }
}

