// Variables

// Gray and Brand Colors for use across theme

$theme-primary: #9A9B94;
$theme-success: #32B1BD;
$theme-clear1: #F5F5F5;
$theme-clear2: #ECECEC;
$theme-blue: #32B1BD;
$theme-yellow: #F9CA42;
$theme-lightdark: #6F6F6F;
$theme-dark: #4A4A4A;


$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);
